{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    <title>MaSCasa - Update password</title>
{% endblock %}

{% block content %}
    <h1 style="margin-top: 150px; padding-left: 50px">Update your password</h1>
    <div class="w-50 p-5 ">
        <form method="post" class="align-items-center">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success mt-1">Save changes</button>
        </form>
        <a href="{% url 'users:user-update' user.pk %}"><button class="btn btn-danger mt-3">Cancel</button></a>
    </div>
{% endblock %}