{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>MaSCasa - Update user</title>
{% endblock %}

{% block content %}

    <h1 style="margin-top: 150px; padding-left: 50px">My data</h1>

    {% crispy form %}
    <a style="margin-left: 50px" href="{% url 'users:change_password' %}"><button class="btn btn-warning">Update password</button></a>
{% endblock %}