{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>MaSCasa - User cancellation</title>
{% endblock %}

{% block content %}
    <h1 style="margin-top: 150px; padding-left: 50px">User cancellation</h1>
    <h2>You are going to delete your profile, are you really sure?</h2>
    <div class="d-flex flex-column mb-3">
        <p class="m-2">{{ object.username }}</p>
        <p class="m-2">{{ object.email }}</p>
        <p class="m-2">{{ object.phone }}</p>
        <p class="m-2">{{ object.address }}</p>

    </div>

    <form method="post">{% csrf_token %}
        {{ form | crispy }}
        <a href="{% url 'homepage' %}" class="m-2 btn btn-secondary"><span>Cancel</span></a>
        <input type="submit" value="Confirm" class="btn btn-danger m-2">
    </form>

{% endblock %}