{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>MaSCasa - New user</title>
{% endblock %}

{% block content %}

    <div style="margin-top: 100px" class="w-50 p-5 align-items-center">
        <h1>Sign up</h1>

        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Sign up" class="btn btn-success mt-3">
        </form>
        <a href="{% url 'homepage' %}" class="mt-3 btn btn-danger"><span>Cancel</span></a>
    </div>

{% endblock %}