{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    <title>MaSCasa - Logout</title>
{% endblock %}

{% block content %}
    <h1 class="align-items-center" style="margin-top: 150px; padding-left: 20px">Logout successfully!</h1>
{% endblock %}