{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    <title>MaSCasa - Login</title>
{% endblock %}

{% block content %}
    <div style="margin-top: 100px" class="w-50 p-5 align-items-center">
        <h1>Log in</h1>
        <form method="POST">{% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Sign In" class="btn btn-success mt-4">
        </form>
    </div>

{% endblock %}