{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% block title %}{% endblock %}
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- CSS Files -->
    <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
</head>
<body>

    <!-- ======= Property Search Section ======= -->
    <div class="click-closed"></div>
    <!--/ Form Search Star /-->
    <div class="box-collapse">
        <div class="title-box-d">
            <h3 class="title-d">Search properties</h3>
        </div>
        <span class="close-box-collapse right-boxed bi bi-x"></span>
        <div class="box-collapse-wrap form">
            <form class="form-a" action="{% url 'activity:all-properties' %}" method="GET">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="contractInput">Contract</label>
                            <select class="form-control form-select form-control-a" name="contract" id="contractInput">
                                <option>All</option>
                                <option>Rent</option>
                                <option>Sale</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="typologyInput">Typology</label>
                            <select class="form-control form-select form-control-a" name="typology" id="typologyInput">
                                <option>All</option>
                                <option>Flat</option>
                                <option>Rustics / Cascine / Houses</option>
                                <option>Shop</option>
                                <option>Land</option>
                                <option>Villas</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="priceInput">Price</label>
                            <br/>
                            <div class="d-flex justify-content-start">
                                <input type="number" name="minPrice" id="priceInput" min="1" max="9999999" class="w-50 form-control" value="1"/>
                                <input type="number" name="maxPrice" id="priceInput" min="2" max="10000000" class="w-50 form-control" value="10000000"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="surfaceInput">Surface (m<sup>2</sup>)</label>
                        <br/>
                            <div class="d-flex justify-content-start">
                                <input type="number" name="minSurface" id="surfaceInput" min="1" max="999" class="w-50 form-control" value="1"/>
                                <input type="number" name="maxSurface" id="surfaceInput" min="2" max="1000" class="w-50 form-control" value="1000"/>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-content-center">
                        <label class="pb-2" style="margin: 0px auto;">Order by</label>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="orderPrice">Price</label>
                            <br/>
                            <select class="form-control form-select form-control-a" name="orderPrice" id="orderPrice">
                                <option>----</option>
                                <option>Increasing</option>
                                <option>Decreasing</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="orderArea">Surface</label>
                            <br/>
                            <select class="form-control form-select form-control-a" name="orderArea" id="orderArea">
                                <option>----</option>
                                <option>Increasing</option>
                                <option>Decreasing</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="orderData">Date</label>
                            <br/>
                            <select class="form-control form-select form-control-a" name="orderData" id="orderData">
                                <option>----</option>
                                <option>Most recent</option>
                                <option>Less recent</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center mt-5">
                        <button type="submit" class="btn btn-b">Search properties</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
        <div class="container">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a class="navbar-brand text-brand" href="{% url 'homepage' %}">MaS<span class="color-b">Casa</span></a>

            <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        {% if not user.owner %}
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'activity:rate-house' %}">Evaluate house</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'activity:sell-house' %}">Sell house</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agency</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'appointment' %}">Let's meet up</a>
                                    <a class="dropdown-item" href="{% url 'work-together' %}">Work with us</a>
                                    <a class="dropdown-item" href="{% url 'contacts' %}">Contacts</a>
                                    <a class="dropdown-item" href="{% url 'activity:agents' %}">Agents</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'contacts' %}">Contacts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'activity:agents' %}">Agents</a>
                            </li>
                        {% endif %}

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'work-together' %}">Work with us</a>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link " href="{% url 'contacts' %}">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'activity:agents' %}">Agents</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'users:user-update' user.pk %}">My profile</a>
                                    <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                                    <a class="dropdown-item" href="{% url 'users:user-delete' user.pk %}">Delete profile</a>
                                    {% if user.owner %}
                                        <a class="dropdown-item" href="{% url 'activity:insert-property' %}">Insert a new ad</a>
                                    {% endif %}
                                </div>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Join</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'users:user-create' %}">Sign up</a>
                                    <a class="dropdown-item" href="{% url 'users:login' %}">Log in</a>
                                </div>
                        {% endif %}
                    </li>
                </ul>
            </div>

            <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
                <i class="bi bi-search"></i>
            </button>

        </div>
    </nav>

    {% block content %}{% endblock %}

    <section class="section-footer">
        <div class="container">
            <div class="row">
                <div class="col col-sm-12 col-md-6">
                    <div class="widget-a">
                        <div class="w-header-a">
                            <h3 class="w-title-a text-brand">MaSCasa</h3>
                        </div>
                        <div class="w-body-a">
                            <p class="w-text-a color-text-a">
                                We are a consolidated activity over the years in the real estate sale.
                                 Are you looking for the house of your dreams or are you interested in a property among those presented?
                                 Do not hesitate to contact us.
                            </p>
                        </div>
                        <div class="w-footer-a">
                            <ul class="list-unstyled">
                                <li class="color-a">
                                    <span class="color-text-a">Phone </span> +39 123 4567890
                                </li>
                                <li class="color-a">
                                    <span class="color-text-a">Email </span> mascasa.team@mascasa.com
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-12 col-md-6 section-md-t3">
                    <div class="widget-a">
                        <div class="w-header-a">
                            <h3 class="w-title-a text-brand">Agency</h3>
                        </div>
                        <div class="w-body-a">
                            <div class="w-body-a">
                                <ul class="list-unstyled">
                                    <li class="item-list-a">
                                        <i class="bi bi-chevron-right"></i> <a href="{% url 'activity:agents' %}">Agents</a>
                                    </li>
                                    {% if user.is_authenticated and not user.owner %}
                                        <li class="item-list-a">
                                            <i class="bi bi-chevron-right"></i> <a href="{% url 'activity:rate-house' %}">Evaluate house</a>
                                        </li>
                                        <li class="item-list-a">
                                            <i class="bi bi-chevron-right"></i> <a href="{% url 'activity:sell-house' %}">Sell house</a>
                                        </li>
                                        <li class="item-list-a">
                                            <i class="bi bi-chevron-right"></i> <a href="{% url 'appointment' %}">Let's meet up</a>
                                        </li>
                                        <li class="item-list-a">
                                            <i class="bi bi-chevron-right"></i> <a href="{% url 'work-together' %}">Work with us</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="nav-footer">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="{% url 'homepage' %}">Home</a>
                        </li>
                        {% if not user.owner %}
                            <li class="list-inline-item">
                                <a href="{% url 'work-together' %}">Work with us</a>
                            </li>
                        {% endif %}
                        <li class="list-inline-item">
                            <a href="{% url 'contacts' %}">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>