{% extends 'realestate_activity/base-form.html' %}
{% load static %}

{% block title %}
    <title>MaSCasa - Contacts</title>
{% endblock %}

{% block content %}
    <main id="main">
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">Contacts</h1>
                            <span class="color-text-a">{% lorem %}</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'homepage' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Contacts
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="contact-map box">
                            <div id="map" class="contact-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2834.5874609664356!2d10.614690215359374!3d44.72803039028191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47801c0238464471%3A0xbde27a28cf8fbc97!2sVia%20Umberto%20Degola%2C%201%2C%2042124%20Reggio%20Emilia%20RE!5e0!3m2!1sen!2sit!4v1626383345217!5m2!1sen!2sit" width="100%" height="450" style="border:0" allowfullscreen loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 section-t8">
                        <div class="row">
                            <div class="col-md-7">
                                <form method="POST" class="w-75 align-items-center">{% csrf_token %}
                                    <div class="row">
                                        <div class="col col-sm-6">
                                            <div class="form-group">
                                                <label for="inputName">Name *</label>
                                                <input type="text" name="name" class="form-control" id="inputName" placeholder="Your name" required>
                                            </div>
                                        </div>
                                        <div class="col col-sm-6">
                                            <div class="form-group">
                                                <label for="inputName">Surname *</label>
                                                <input type="text" name="surname" class="form-control" id="inputName" placeholder="Your surname" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="inputEmail">Email *</label>
                                                <input type="text" name="email" class="form-control" id="inputEmail" value="{{ user.email }}" required>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="inputPhone">Phone *</label>
                                                <input type="text" name="phone" class="form-control" id="inputPhone" value="{{ user.phone }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="inputSubject">Subject *</label>
                                            <input id="inputSubject" name="subject" class="form-control" placeholder="Subject" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="inputMessage">Message *</label>
                                            <textarea id="inputMessage" name="message" class="form-control" cols="45" rows="8" placeholder="What's your request?" required></textarea>
                                        </div>
                                    </div>
                                    <small class="form-text text-muted">We won't use these data with third parties</small><br/>
                                    <input type="submit" value="Send" class="btn btn-success mt-4">
                                </form>
                            </div>
                            <div class="col-md-5 section-md-t3">
                                <div class="icon-box section-b2">
                                    <div class="icon-box-icon">
                                        <span class="bi bi-envelope"></span>
                                    </div>
                                    <div class="icon-box-content table-cell">
                                        <div class="icon-box-title">
                                            <h4 class="icon-title">Contact us</h4>
                                        </div>
                                        <div class="icon-box-content">
                                            <p class="mb-1">Email
                                                <span class="color-a">mascasa.team@mascasa.com</span>
                                            </p>
                                            <p class="mb-1">Phone
                                                <span class="color-a">+39 123 4567890</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-box section-b2">
                                    <div class="icon-box-icon">
                                        <span class="bi bi-geo-alt"></span>
                                    </div>
                                    <div class="icon-box-content table-cell">
                                        <div class="icon-box-title">
                                            <h4 class="icon-title">Come and visit us</h4>
                                        </div>
                                        <div class="icon-box-content">
                                            <p class="mb-1">
                                                Via Umberto Degola, 1
                                                <br> 42124 Reggio Emilia RE
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="m-4">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }} text-success" style="list-style: none" {% endif %}><strong>{{ message }}</strong></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        </section>

    </main>

{% endblock %}
