{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>MaSCasa - Home</title>
{% endblock %}

{% block content %}
    {% if user.is_authenticated and user.owner %}
        <section class="section-t8">
            <h1 style="padding-left: 50px;">Owner section</h1>
            <div class="row">
                <div class="col">
                    <form class="mt-5 p-5 align-items-center">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                                <input id="inputName" class="form-control" type="text" disabled value="{{ user.username }}" name="name"/>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input id="inputEmail" class="form-control" type="email" disabled value="{{ user.email }}" name="email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone" class="col-sm-2 col-form-label">Phone</label>
                            <div class="col-sm-10">
                                <input id="inputPhone" class="form-control" type="tel" disabled value="{{ user.phone }}" name="phone">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col text-center my-auto">
                    <a href="{% url 'activity:insert-property' %}">
                        <button class="btn btn-success" style="padding: 40px 30px; font-size: 25px">Insert a new ad</button>
                    </a>
                </div>
                <div class="col text-center my-auto">
                    <a href="{% url 'activity:insert-agent' %}">
                        <button class="btn btn-success" style="padding: 40px 30px; font-size: 25px">Insert a new agent</button>
                    </a>
                </div>
            </div>
        </section>
    {% endif %}

    <main id="main">
        <section class="section-news section-t8">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap d-flex justify-content-between">
                            <div class="title-box">
                                <h2 class="title-a">Newest ads</h2>
                            </div>
                            <div class="title-link">
                                <a href="{% url 'activity:all-properties' %}">All ads
                                    <span class="bi bi-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="news-carousel" class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for property in latest_properties %}
                            <div class="carousel-item-a swiper-slide">
                                <div class="card-box-b card-shadow news-box" style="object-fit: contain; width: 400px; height: 450px;">
                                    <div class="img-box-b">
                                        <img src="{{ property.image.url }}" alt="Ad{{ forloop.counter }} pic" class="img-b img-fluid">
                                    </div>
                                    <div class="card-overlay">
                                        <div class="card-header-b">
                                            <div class="card-category-b">
                                                <a class="category-b">{{ property.contr }}</a>
                                            </div>
                                            <div class="card-title-b">
                                                <h2 class="title-2">
                                                    <a href="{% url 'activity:detail-property' property.pk %}">{{ property.address }}</a>
                                                </h2>
                                            </div>
                                            <div class="card-date">
                                                <span class="date-b">{{ property.insertion_date }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="news-carousel-pagination carousel-pagination"></div>
            </div>
        </section>

        <section class="section-agents section-t8">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap d-flex justify-content-between">
                            <div class="title-box">
                                <h2 class="title-a">Best agents</h2>
                            </div>
                            <div class="title-link">
                                <a href="{% url 'activity:agents' %}">All agents
                                    <span class="bi bi-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for agent in top_agents %}
                        <div class="col-md-4">
                            <div class="card-box-d" style="object-fit: contain; width: 400px; height: 400px;">
                                <div class="card-img-d">
                                    <img src="{{ agent.image.url }}" alt="Top-agent{{ forloop.counter }} pic" class="img-d img-fluid">
                                </div>
                                <div class="card-overlay card-overlay-hover">
                                    <div class="card-header-d">
                                        <div class="card-title-d align-self-center">
                                            <h3 class="title-d">
                                                <a href="{% url 'activity:agent-detail' agent.pk %}" class="link-two">{{ agent.name }} {{ agent.surname }}</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="card-body-d">
                                        <div class="info-agents color-a">
                                            <p>
                                                <strong>Phone: </strong> {{ agent.phone }}
                                            </p>
                                            <p>
                                                <strong>Email: </strong> {{ agent.email }}
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}