{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
    <title>MaSCasa - Work with us</title>
{% endblock %}

{% block content %}
    <div class="row " style="margin-top: 150px; padding-left: 50px">
        <div class="col-lg-5" >
            <h1 class="mb-2">Work with us</h1>
            <p>One of the cornerstones of our philosophy is the enhancement of human resources, in
                 particular of young people.<br>
                We want to foster a cohesive, young, dynamic and stimulating work environment.</p>
            <p>Each young person can count not only on his skills,
                 on the support of a group with a consolidated and structured professional method, on paths of
                 unique and particularly qualifying training and support on advanced technology and tools
                 innovative.</p>
            <p>
                <strong>Would you like to work in a real estate agency?</strong>
            </p>
            <p>
                <strong>Tell us who you are and what your goals are!</strong>
            </p>
            If you have a higher education or university education and a strong aptitude for interpersonal relationships,
             send us your Curriculum Vitae.<br>You will be able to start an interesting and dynamic profession, acquire
             multidisciplinary knowledge and have great satisfaction.
            <p></p>
        </div>
        <div class="col-lg-7">
            <h2>Send us your Curriculum Vitae</h2>
            <div class="mt-2 pt-2 ">
                <form method="POST" class="mt-5 p-5 align-items-center" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="inputName">Name *</label>
                                <input type="text" name="name" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Your name" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="inputSurname">Surname *</label>
                                <input type="text" name="surname" class="form-control" id="inputSurname" placeholder="Your surname" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="inputCity">City</label>
                                <input type="text" name="city" class="form-control" id="inputCity" aria-describedby="emailHelp" placeholder="Your city">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input type="text" name="address" class="form-control" id="inputAddress" placeholder="Your address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="inputAge">Age</label>
                                <input type="number" name="age" class="form-control" id="inputAge" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="inputPhone">Phone *</label>
                                <input type="tel" name="phone" class="form-control" id="inputPhone" value="{{ user.phone }}" placeholder="Your phone number" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="inputEmail">Email *</label>
                                <input type="tel" name="email" class="form-control" id="inputEmail" value="{{ user.email }}" placeholder="Your email" required>
                                <small id="inputEmail" class="form-text text-muted">We won't use these data with third parties</small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="uploadCV">Select your CV *</label>
                                <input type="file" accept=".doc,.docx,.pdf" name="cv" class="form-control-file" id="uploadCV" required>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Apply" class="btn btn-success mt-4">
                    <a href="{% url 'homepage' %}" style="margin-left: 50px" class=" mt-4 btn btn-danger"><span>Cancel</span></a>
                </form>
            </div>
        </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} text-success" style="list-style: none" {% endif %}><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}