{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>MaSCasa - Properties</title>
{% endblock %}

{% block content %}
    <main id="main">

        <!-- ======= Intro Single ======= -->
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">Our properties</h1>
                            <span class="color-text-a">Properties list</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'homepage' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Properties list
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section><!-- End Intro Single-->

        <!-- ======= Property Grid ======= -->
        <section class="property-grid grid">
            <div class="container">
                <div class="row">
                    {% for property in object_list %}
                        <div class="col-md-4">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a" style="object-fit: contain; width: 400px; height: 500px;">
                                    <img src="{{ property.image.url }}" alt="" class="img-a">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <a href="{% url 'activity:detail-property' property.pk %}">{{ property.address }}</a>
                                            </h2>
                                        </div>
                                        <div class="card-body-a">
                                            <div class="price-box d-flex">
                                                <span class="price-a">{{ property.contr }} | € {{ property.price }}</span>
                                            </div>
                                            <a href="{% url 'activity:detail-property' property.pk %}" class="link-a">See the ad
                                                <span class="bi bi-chevron-right"></span>
                                            </a>
                                            {% if user.is_authenticated and user.owner %}
                                                <a href="{% url 'activity:update-property' property.pk %}" class="link-a text-secondary">Edit
                                                    |
                                                </a>
                                                <strong><a href="{% url 'activity:delete-property' property.pk %}" class="link-a text-danger">Delete
                                                </a></strong>
                                            {% endif %}
                                        </div>
                                        <div class="card-footer-a">
                                            <ul class="card-info d-flex justify-content-around">
                                                <li>
                                                    <h4 class="card-info-title">Typology</h4>
                                                    <span>{{ property.typo }}</span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Surface</h4>
                                                    <span>{{ property.surface }}m
                                                  <sup>2</sup>
                                                </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <p>{{ map|safe }}</p>
                </div>
            </div>
        </section>

    </main>
{% endblock %}