{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>MaSCasa - Agents</title>
{% endblock %}

{% block content %}
    <main id="main">
        <!-- =======Intro Single ======= -->
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">Our agents</h1>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'homepage' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Agents
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section><!-- End Intro Single-->

        <!-- ======= Agents Grid ======= -->
        <section class="agents-grid grid">
            <div class="container">
                <div class="row">
                    {% for agent in object_list %}
                        <div class="col-md-4">
                            <div class="card-box-d" style="object-fit: contain; width: 400px; height: 450px;">
                                <div class="card-img-d">
                                    <img src="{{ agent.image.url }}" alt="Agent{{ agent.pk }} pic" class="img-d img-fluid">
                                </div>
                                <div class="card-overlay card-overlay-hover">
                                    <div class="card-header-d">
                                        <div class="card-title-d align-self-center">
                                            <h3 class="title-d">
                                                <a href="{% url 'activity:agent-detail' agent.pk %}" class="link-two">{{ agent.name }} {{ agent.surname }}</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="card-body-d">
                                        <div class="info-agents color-a">
                                            <p>
                                                <strong>Phone: </strong> {{ agent.phone }}
                                            </p>
                                            <p>
                                                <strong>Email: </strong> {{ agent.email }}
                                            </p>
                                        </div>
                                    </div>
                                    {% if user.is_authenticated and user.owner %}
                                        <div class="card-footer-d">
                                            <div class="socials-footer d-flex justify-content-center">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a href="{% url 'activity:update-agent' agent.pk %}" class="link-a text-secondary">Edit</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <strong><a href="{% url 'activity:delete-agent' agent.pk %}" class="link-a text-danger">Delete
                                                        </a></strong>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <strong class="link-a">Rating reviews: {{ agent.avg_score }}/5</strong>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card-footer-d">
                                            <div class="socials-footer d-flex justify-content-center">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <strong class="link-a">Rating reviews: {{ agent.avg_score }}/5</strong>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}