{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>MaSCasa - Delete property {{ object.pk }}</title>
{% endblock %}

{% block content %}
    <h1 style="margin-top: 150px; padding-left: 50px">Property cancellation</h1>
    <h2>You're going to delete the announce {{ object.pk }}, are you sure?</h2>
    <div class="row">
        <div class="col">
            <div class="d-flex flex-column mb-3">
                <p class="m-2"><strong>Address</strong>: {{ object.address }}</p>
                <p class="m-2"><strong>Typology</strong>: {{ object.typo }}</p>
                <p class="m-2"><strong>Contract</strong>: {{ object.contr }}</p>
                <p class="m-2"><strong>Insertion date</strong>: {{ object.insertion_date }}</p>
            </div>
        </div>
        <div class="col">
            <img src="{{ object.image.url }}" alt="Property pic"/>
        </div>
    </div>

    <form method="post">{% csrf_token %}
        {{ form | crispy }}
        <a href="{% url 'activity:all-properties' %}" class="m-2 btn btn-secondary"><span>Cancel</span></a>
        <input type="submit" value="Confirm" class="btn btn-danger m-2">
    </form>
{% endblock %}