{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>MaSCasa - Delete agent {{ object.pk }}</title>
{% endblock %}

{% block content %}
    <h1 style="margin-top: 150px; padding-left: 50px">Real estate agent cancellation</h1>
    <h2>You're going to delete {{ object.name }} {{ object.surname }}, are you sure?</h2>
    <div class="row">
        <div class="col">
            <div class="d-flex flex-column mb-3">
                <p class="m-2"><strong>Nominative</strong>: {{ object.name }} {{ object.surname }}</p>
                <p class="m-2"><strong>Phone</strong>: {{ object.phone }}</p>
                <p class="m-2"><strong>Email</strong>: {{ object.email }}</p>
            </div>
        </div>
        <div class="col">
            <img src="{{ object.image.url }}" alt="Agent pic"/>
        </div>
    </div>

    <form method="post">{% csrf_token %}
        {{ form | crispy }}
        <a href="{% url 'activity:agents' %}" class="m-2 btn btn-secondary"><span>Cancel</span></a>
        <input type="submit" value="Confirm" class="btn btn-danger m-2">
    </form>
{% endblock %}