{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>MaSCasa - Agent {{ object.pk }}</title>
{% endblock %}

{% block content %}
    <main id="main">

        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">{{ object.name }} {{ object.surname }}</h1>
                            <span class="color-text-a">Real estate agent</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'homepage' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{% url 'activity:agents' %}">Agents</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ object.name }} {{ object.surname }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <section class="agent-single">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="agent-avatar-box">
                                    <img src="{{ object.image.url }}" alt="Real estate agent's pic" class="agent-avatar img-fluid">
                                </div>
                                {% if user.is_authenticated and not user.owner %}
                                    <div class="row">
                                        <div class="d-flex justify-content-center">
                                            <a href="{% url 'activity:rate-agent' object.pk %}" class="btn btn-outline-success mt-5">Insert a review</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-5 section-md-t3">
                                <div class="agent-info-box">
                                    <div class="agent-title">
                                        <div class="title-box-d">
                                            <h3 class="title-d">{{ object.name }} {{ object.surname }}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="agent-content mb-3">
                                        <div class="info-agents color-a">
                                            <p>
                                                <strong>Agent code: </strong>
                                                <span class="color-text-a"> {{ object.pk }}</span>
                                            </p>
                                            <p>
                                                <strong>Phone: </strong>
                                                <span class="color-text-a"> {{ object.phone }} </span>
                                            </p>
                                            <p>
                                                <strong>Email: </strong>
                                                <span class="color-text-a"> {{ object.email }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="agent-title">
                                        <div class="title-box-d">
                                            <h4 class="title-d">Reviews about {{ object.name }}
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="agent-content mb-3">
                                        <div id="news-carousel" class="swiper-container">
                                            <div class="swiper-wrapper">
                                                {% for rating in rating_list %}
                                                    <div class="carousel-item-a swiper-slide">
                                                        <div class="card-box-b news-box">
                                                            <div class="form-control">
                                                                <p class="content-d color-text-a"><strong>User: </strong>{{ rating.fk_u }}</p>
                                                                <p class="content-d color-text-a"><strong>Rate: </strong>{{ rating.score }}/5</p>
                                                                <p class="content-d color-text-a"><strong>Caption: </strong>{{ rating.caption }}</p>
                                                                <p class="content-d color-text-a"><strong>Date: </strong>{{ rating.rating_date }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="news-carousel-pagination carousel-pagination"></div>
                                        {% if avg_score > 0 %}
                                            <p>Average score: {{ avg_score }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}