{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>MaSCasa - Property {{ object.pk }}</title>
{% endblock %}

{% block content %}
    <main id="main">
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">{{ object.address }}</h1>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'homepage' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{% url 'activity:all-properties' %}">Properties list</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ object.address }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <section class="property-single nav-arrow-b">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row justify-content-between">
                            <div class="col-md-5 col-lg-4">
                                <div class="property-price d-flex justify-content-center foo">
                                    <div class="card-header-c d-flex">
                                        <div class="card-title-c align-self-center">
                                            <h5 class="title-c">{{object.price}}
                                                € {% if contract == 'Rent' %}
                                                    <sup>*</sup></h5>
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="property-summary">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="title-box-d section-t4">
                                                <h3 class="title-d">Detail</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="summary-list">
                                        <ul class="list">
                                            <li class="d-flex justify-content-between">
                                                <strong>Code:</strong>
                                                <span>{{ object.pk }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Address:</strong>
                                                <span>{{ object.address }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Contract:</strong>
                                                <span>{{ contract }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Typology:</strong>
                                                <span>{{ typology }}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Surface:</strong>
                                                <span>{{ object.surface }}m
                                                  <sup>2</sup>
                                                </span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Insertion date:</strong>
                                                <span>{{ object.insertion_date }}</span>
                                            </li>
                                            {% if contract == 'Rent' %}
                                                <li class="d-flex justify-content-between">
                                                    <small>* Monthly amount</small>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 section-md-t3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="title-box-d">
                                            <h3 class="title-d">Detail property</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="property-description">
                                    <div class="carousel-item-a swiper-slide">
                                        <img src="{{ object.image.url }}" alt="Property pic">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row w-75 d-flex justify-content-center" style="margin: 0 auto">
                        <p>{{ map|safe }}</p>
                    </div>
                </div>
            {% if rel_items %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box-d section-t4">
                            <h3 class="title-d">You could be interested in</h3>
                        </div>
                    </div>
                    <div>
                        {% for property in rel_items %}
                            <div class="col-md-4 d-inline-block">
                                <div class="card-box-a card-shadow">
                                    <div class="img-box-a" style="object-fit: contain; width: 400px; height: 400px;">
                                        <img src="{{ property.image.url }}" alt="" class="img-a img-fluid">
                                    </div>
                                    <div class="card-overlay">
                                        <div class="card-overlay-a-content">
                                            <div class="card-header-a">
                                                <h2 class="card-title-a">
                                                    <a href="{% url 'activity:detail-property' property.pk %}">{{ property.address }}</a>
                                                </h2>
                                            </div>
                                            <div class="card-body-a">
                                                <div class="price-box d-flex">
                                                    <span class="price-a">{{ property.contr }} | € {{ property.price }}</span>
                                                </div>
                                                <a href="{% url 'activity:detail-property' property.pk %}" class="link-a">See the ad
                                                    <span class="bi bi-chevron-right"></span>
                                                </a>
                                                {% if user.is_authenticated and user.owner %}
                                                    <a href="{% url 'activity:update-property' property.pk %}" class="link-a text-secondary">Edit
                                                        |
                                                    </a>
                                                    <strong><a href="{% url 'activity:delete-property' property.pk %}" class="link-a text-danger">Delete
                                                    </a></strong>
                                                {% endif %}
                                            </div>
                                            <div class="card-footer-a">
                                                <ul class="card-info d-flex justify-content-around">
                                                    <li>
                                                        <h4 class="card-info-title">Typology</h4>
                                                        <span>{{ property.typo }}</span>
                                                    </li>
                                                    <li>
                                                        <h4 class="card-info-title">Surface</h4>
                                                        <span>{{ property.surface }}m
                                                  <sup>2</sup>
                                                </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            </div>
        </section>

    </main>

{% endblock %}