{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>MaSCasa - New ad</title>
{% endblock %}

{% block content %}
    <h1 style="margin-top: 150px; padding-left: 30px">Insert a new ad</h1>
    {% crispy form %}
    <a href="{% url 'homepage' %}" style="margin-left: 50px" class=" mt-3 btn btn-danger"><span>Cancel</span></a>
{% endblock %}