{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>MaSCasa - Update property {{ object.pk }}</title>
{% endblock %}

{% block content %}
    <h1 style="margin-top: 150px; padding-left: 50px">Data update</h1>
    <h3 style="padding-left: 50px;">Annuncio {{ object.pk }}</h3>

    {% crispy form %}
    <a href="{% url 'homepage' %}" style="margin-left: 50px" class=" mt-3 btn btn-danger"><span>Cancel</span></a>
{% endblock %}