{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="p-5">

        {% block title-content %}{% endblock %}

        <form method="POST" class="mt-5 w-75 align-items-center">{% csrf_token %}
            <div class="row">
                <div class="col col-sm-6">
                    <div class="form-group">
                        <label for="inputName">Name *</label>
                        <input type="text" name="name" class="form-control" id="inputName" placeholder="Your name" required>
                    </div>
                </div>
                <div class="col col-sm-6">
                    <div class="form-group">
                        <label for="inputName">Surname *</label>
                        <input type="text" name="surname" class="form-control" id="inputName" placeholder="Your surname" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="inputEmail">Email *</label>
                        <input type="text" name="email" class="form-control" id="inputEmail" value="{{ user.email }}" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="inputPhone">Phone *</label>
                        <input type="text" name="phone" class="form-control" id="inputPhone" value="{{ user.phone }}" required>
                    </div>
                </div>
            </div>
            {% block additive-fields %}{% endblock %}
            <small class="form-text text-muted">We won't you these data with third parties</small><br/>
            <input type="submit" value="Send" class="btn btn-success mt-4">
            <a href="{% url 'homepage' %}" style="margin-left: 50px" class=" mt-4 btn btn-danger"><span>Cancel</span></a>
        </form>
    </div>
{% endblock %}