{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>MaSCasa - Manage appointments</title>
{% endblock %}

{% block content %}
    <h1 style="margin-top: 150px">Manage your appointments</h1>

    <form class="m-3" method="GET">
        {% for app in object_list %}
            <div class="input-group w-25 mb-3">
                <input type="radio" name="radioButton{{ forloop.counter }}" class="m-3"/>
                <input type="text" name="appointment{{ forloop.counter }}" class="form-control"
                       style="background-color: white" value="{{ app.date }}"/>
            </div>
        {% endfor %}

        <button class="btn btn-danger">Delete</button>
    </form>
    <a href="{% url 'activity:appointment' %}" class="m-3">
        <button class="btn btn-secondary mt-3">Cancel</button>
    </a>
{% endblock %}