{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>MaSCasa - Get appointment</title>
{% endblock %}

{% block content %}
    <h1 style="margin-top: 150px">Welcome {{ user.username }}, get an appointment</h1>
    <div class="row">
        <div class="col">
            {% crispy form %}
        </div>
        <div class="col">
            <h4>My appointments</h4>
            <div class="m-3">
                {% for app in object_list %}
                    <div class="text-center form-control w-25 mb-3">{{ app.date }}</div>
                {% endfor %}
                <a href="{% url 'delete-appointment' %}">
                    <button name="updateAppointments" class="btn btn-success">Manage</button>
                </a>
            </div>
        </div>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} text-danger" style="list-style: none" {% endif %}><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}