{% extends 'realestate_activity/base-form.html' %}
{% load static %}

{% block title %}
    <title>MaSCasa - Estimate your property</title>
{% endblock %}

{% block title-content %}
    <h1 style="margin-top: 150px">What's your house's value?</h1>
    <h2 class="text-success"></h2>
    <p>{{ user.address }}</p>
{% endblock %}

{% block additive-fields %}
    <div class="row">
        <div class="col">
            <div class="form-group mt-3">
                <label class="pb-2" for="scope">Typology *</label>
                <select class="form-control form-select form-control-a" id="scope" name="scope">
                    <option>Flat</option>
                    <option>Villa</option>
                    <option>Rustic</option>
                    <option>Box</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="inputSurface">Surface *</label>
                <input type="number" name="surface" class="form-control" id="inputSurface" required>
            </div>
        </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} text-success" style="list-style: none" {% endif %}><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}