{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>MaSCasa - Rate agent</title>
{% endblock %}

{% block content %}
    <h2 style="margin-top: 150px; padding-left: 30px">Send a review about {{ agent.name }} {{ agent.surname }}</h2>
    {% crispy form %}

    <a href="{% url 'activity:agent-detail' agent.pk %}" class="m-5">
        <button class="btn btn-danger mt-3">Cancel</button>
    </a>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} text-danger" style="list-style: none" {% endif %}><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}