{% extends 'realestate_activity/base-form.html' %}
{% load static %}

{% block title %}
    <title>MaSCasa - Sell your house</title>
{% endblock %}

{% block title-content %}
    <h1 style="margin-top: 150px">Do you want to sell your house?</h1>
    <h2 class="text-success"></h2>
    <p>Trust our agency for a free evaluation! <br/>
       Thanks to our in-depth knowledge of the local market, we are able to carry out a market assessment in precise and timely terms.
         We will contact you to let you know our accurate evaluation.
        Fill out the following form. Thank you</p>
{% endblock %}

{% block additive-fields %}
    <div class="row">
        <div class="form-check-inline">
            <div class="col-md-12">
                <label for="sellType" class="radio">
                    <input id="sellType" name="purpose" checked="checked" type="radio" value="Sale">
                    Vendita
                </label>
                <label for="rentType" class="radio">
                    <input id="rentType" name="purpose" type="radio" value="Rent">
                Affitto
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="inputAddress">Address *</label>
                <input type="text" name="address" class="form-control" id="inputAddress" value="{{ user.address }}" required>
            </div>
        </div>
        <div class="col">
            <div class="form-group mt-3">
                <label class="pb-2" for="scope">Residential type *</label>
                <select class="form-control form-select form-control-a" id="scope" name="scope">
                    <option>Studio flat</option>
                    <option>2 Rooms</option>
                    <option>3 Rooms</option>
                    <option>4 Rooms</option>
                    <option>5 Rooms</option>
                    <option>6 Rooms</option>
                    <option>Attic</option>
                    <option>Box</option>
                    <option>Loft</option>
                    <option>Farmland</option>
                    <option>Residential land</option>
                    <option>Semi-detached</option>
                    <option>Terraced house</option>
                    <option>Single Villa</option>
                    <option>Building</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="inputMessage">Messagge </label>
            <input type="text" name="message" class="form-control" id="inputMessage">
        </div>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} text-success" style="list-style: none" {% endif %}><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
